@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: #f1f1f1;
}

body {
  color: #ffffff;
  background: var(--background-end-rgb);
}
